# .gitignore 文件内容
/*
/.idea/*
!src/
!docs/
!tests/
!requirements.txt
**/qr/
**/__pycache__/
**/data/

# Ignore Allure report and results directories
allure-report/
allure-results/

# Ignore video recordings
videos/



